*{
    box-sizing: border-box;

    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    flex-direction: row;
}
.menu{
    width: 5rem;
    height: 100vh;

    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


    background-color: #359EFF;

    /* border: 1px solid red; */
}

.bar{
    width: 75%;
    height: 5px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

nav{

    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
}

a.nav-link{
    width: 90%;
    height: auto;
    margin: 0%;
    padding: 0%;


}

.nav-icon{
    width: 100%;
    height: auto;

    /* border: 1px solid black; */
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content > div{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.circle{
    width: 10rem;
    height: 10rem;
    background-color: #359EFF;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (display-mode: standalone) {
  .app-button {
    display: block;
  }
}