*{
    margin: 0%;
    padding: 0%;

    /* width: 100vw; */


    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu{
    width: 100vw;
    height: 5rem;

    padding: 5px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;


    background-color: #359EFF;

    /* border: 1px solid red; */
}

.img-perfil{
    width: auto;
    height: 100%;
}

.bar{
    width: 5px;
    height: 75%;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

nav{

    width: 100%;
    height: 100%;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2.5px;
}

a.nav-link{
    width: auto;
    height: 90%;
    margin: 0%;
    padding: 0%;


}

.nav-icon{
    width: auto;
    height: 100%;

    /* border: 1px solid black; */
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.content > div{
    width: 100%;
    height: 100%;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid black; */
}

form{
    width: 100%;

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 2.25em;
    justify-content: center;
    align-items: center;
}

.hourDate{
    display: flex;
    flex-direction: column;
}

.hour{
    padding: 1px auto;
    width: 15rem;
    height: 3.5rem;

    font-size: xx-large;
    font-weight: bold;
    text-align: center;

}

/* #timer{
    letter-spacing: -0.05em;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1;
} */

.circle{
    width: 10rem;
    height: 10rem;
    background-color: #359EFF;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.circle >img{
    width: 48px;
    height: auto;
}
span{
    font-weight: bold;
    color: #fff;
    text-align: center;
}

input[type=text]{
    border: none;
}

input[type=text]:focus{
    border: none;
    outline: none;
}

input[type=submit]{
    /* border: none; */
    bottom: 0;
    background: url(https://img.icons8.com/?size=100&id=100036&format=png&color=ffffff);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #369EFF;

    font-size: 1.25em;
    color: #fff;
    text-wrap-mode: wrap;
    text-anchor: middle;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    text-transform: capitalize;
    -webkit-text-stroke: 0.85px #000;
}


/* @media (display-mode: standalone) {
  .app-button {
    display: block;
  }
} */